.list__wrapper{
    /*border: 1px solid red;*/
    padding: 60px 0px;

    .list__container{
        /*border: 1px solid blue;*/
        width: 100%;
        max-width: 75%;
        margin: 0 auto;

        .buttons__container{
            display: flex;
            justify-content: space-between;

            .product__button{
                padding: 21px 50px;
                border-radius: 5px;
            }

            .list{
                border: 1px solid #828282;
                background: #1C3135;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;
            }

            .up{
                border-radius: 5px;
                border: 1px solid #4BE7AF;
                color: #4BE7AF;
                text-decoration: none;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .add{
                background: #3259A4;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;
            }
        }

        table{
            /*border: 1px solid green;*/
            width: 100%;

            th{
                padding: 16px 0px;
                text-align: left;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
            }

            td{
                padding: 16px 0px;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
